$breakpoints: (
  phone: 24rem,
  tablet: 32rem,
  desktop: 54rem,
  large: 64rem,
  extra-large: 80rem
);

@mixin breakpoint($target: md) {
  @media (min-width: map-get($breakpoints, $target)) {
    @content;
  }
}
