footer {
    grid-area: footer;
    background: #e8e8e8;
    text-align: center;
    border-top: 1px solid #e8e8e8;
    height: 70px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}